
.link {
  color: black;
  display: block;
  text-decoration: none; /* remove underlines from linkes */
  border-style: solid;
  border-width: 1px;
  border-color: #CDCDCD;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #D3D3D3;
  margin: 10px 0;
  padding-left: 20px;
}

.page {
  text-align: left;
}

.logo {
  margin-right: 10px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 30px;
}

.category {
  margin-top: 10px;
}

.column-filter {
  float: left;
  width: 15%;
  margin: 0 30px;
}

.column-jobs {
  float: left;
  width: 60%;
}

select {
  margin-left: 7px;
}

.job-title {
  font-weight: bold;
  color: #8c1515;
}

.company-name {
  font-weight: bold;
}

.job-type {
  color: #808080;
}



